{% extends 'database/base.html' %}
{% block title %}About us{% endblock title %}
{% block corner %}<li><a href="{% url 'profileInfo' %}">User Profile</a></li>{% endblock %}
{% block background %} {% endblock %}

<!--Mobile Menu-->
<!--End Mobile Menu-->

<!--Body Content-->
{% block content %}
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title"><br><br><br><br>
            <div class="wrapper">
                <h1 class="page-width">About Us</h1>
            </div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <div class="text-center mb-4">
                    <h2 class="h2">ServiceEasy.Com</h2>
                    <div class="rte-setting">
                        <p><strong>Best digital service award winner 2020 </strong></p>
                        <p>Your one stop point for any and all service needs</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload"
                        data-src="../../static/images/memberAB.jpg" src="../../static/images/memberAB.jpg"
                        alt="About Us" /></div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload"
                        data-src="../../static/images/memberC.jpg" src="../../static/images/memberC.jpg"
                        alt="About Us" /></div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload"
                        data-src="../../static/images/memberDE.jpg" src="../../static/images/memberDE.jpg"
                        alt="About Us" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>The Authority</h2>
                <p>Meet the minds behind the whole project. Afroz Jahan Vabna, Annanya Boiddo, Tanmoy Mazumder, Shawan
                    Das, and Zarin Tasnim</p>
                <p>The group began in September with the goal of creating the best system till date in this country to
                    provide the premium experience that the current domain of the market was missing. The team worked
                    rigourously night after night to build the system from ground up, learning their element as they
                    progressed.</p>
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
                <h2 class="h2">About ServiceEasy Web</h2>
                <div class="rte-setting">
                    <p><strong>ServiceEasy.com operates by giving the customer the access to all the service providers
                            of the said area in just a few clicks</strong></p>
                    <p>Our approach enables both the provider and the customer to get in touch and eliminate any
                        unwanted problem that comes with traditional methods of random service seeking</p>
                    <p></p>
                    <p>No more wandering around from store to store for hiring a electrician, or not being able to find
                        plumber at the moment of your need. Car problem, cleaning service, pest infestation, every
                        problem's solution service is now available at one place, at ease!</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <h2 class="h2">Contact Us</h2>
                <ul class="addressFooter">
                    <li><i class="icon anm anm-map-marker-al"></i>
                        <p>221/B, Baker street, 1000 Dhaka</p>
                    </li>
                    <li class="phone"><i class="icon anm anm-phone-s"></i>
                        <p>(420) 000 000 0000</p>
                    </li>
                    <li class="email"><i class="icon anm anm-envelope-l"></i>
                        <p>potato@potmail.com</p>
                    </li>
                </ul>
                <hr />
                <ul class="list--inline site-footer__social-icons social-icons">
                    <li><a class="social-icons__link" href="#" target="_blank"
                            title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i
                                class="icon icon-facebook"></i></a></li>
                    <li><a class="social-icons__link" href="#" target="_blank"
                            title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i>
                            <span class="icon__fallback-text">Twitter</span></a></li>
                    <li><a class="social-icons__link" href="#" target="_blank"
                            title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i
                                class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a>
                    </li>
                    <li><a class="social-icons__link" href="#" target="_blank"
                            title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i
                                class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a>
                    </li>
                    <li><a class="social-icons__link" href="#" target="_blank"
                            title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i
                                class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a>
                    </li>
                    <li><a class="social-icons__link" href="#" target="_blank"
                            title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i>
                            <span class="icon__fallback-text">YouTube</span></a></li>
                    <li><a class="social-icons__link" href="#" target="_blank"
                            title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i>
                            <span class="icon__fallback-text">Vimeo</span></a></li>
                </ul>
            </div>
        </div>


    </div>

</div>
{% endblock %}
<!--End Body Content-->

<!-- ---------------------------------Lower Body-------------------------------- -->

<!--Scoll Top-->
<span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
<!--End Scoll Top-->

<!--  -->


<!-- --------------------------End lower body---------------------------- -->
<!--Scoll Top-->
<span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
<!--End Scoll Top-->

<!-- Including Jquery -->
<script src="../../static/js/vendor/jquery-3.3.1.min.js"></script>
<script src="../../static/js/vendor/jquery.cookie.js"></script>
<script src="../../static/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="../../static/js/vendor/wow.min.js"></script>
<!-- Including Javascript -->
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/plugins.js"></script>
<script src="../../static/js/popper.min.js"></script>
<script src="../../static/js/lazysizes.js"></script>
<script src="../../static/js/main.js"></script>
</div>
</body>

<!-- belle/about-us.html   11 Nov 2019 12:44:39 GMT -->

</html>