{% extends 'database/base.html' %}
{% block title %}Log in{% endblock title %}
{% block corner %} {% endblock %}
{% block header%} {% endblock %}



<!--Body Content-->
{% block content %}
<div id="page-content" style="border: 5px solid red ;
    ">

    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper">
                <h1 class="page-width">Login</h1>
            </div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                <div class="mb-4">
                    <form method="post" action="loginCheck" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <h2 style="text-align: center; color: rgb(158, 0, 250);">{{message}}</h2>
                                <div class="form-group">
                                    <label for="CustomerEmail">Email</label>
                                    <input type="email" name="customer[email]" placeholder="" id="CustomerEmail"
                                        class="" autocorrect="off" autocapitalize="off" autofocus="">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="CustomerPassword">Password</label>
                                    <input type="password" value="" name="customer[password]" placeholder=""
                                        id="CustomerPassword" class="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn mb-3" value="Sign In">
                                <p class="mb-4">
                                    <a>Don't have an account?</a>
                                    <a href="{% url 'register' %}" id="customer_register_link">Register Now</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
<!--End Body Content-->

<!--Footer-->


</div>
</body>

<!-- belle/login.html   11 Nov 2019 12:22:27 GMT -->

</html>