{#% load static %#}
{% extends 'database/base.html' %}
{% block title %}test{% endblock title %}


{% block content %}  

    {# Hero Section #}  
        <h1 style="color: red;">potato test</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque itaque quaerat quibusdam quidem, maxime odio architecto perspiciatis quam et nostrum corrupti, dignissimos velit nisi similique nesciunt quas minima tenetur quis. Omnis ut voluptates optio nulla.</p>
    {# Main Section #}

{% endblock content %}