{% extends 'database/base.html' %}
{% block title %}Profile{% endblock title %}
{% block corner %}<a href="{% url 'index' %}">Logout</a>{% endblock %}


<!--End Header-->
<br><br><br><br>
{% block content %}
<!--Body Content-->
<section class="user-profile section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                <div class="sidebar">
                    <!-- User Widget -->
                    <div class="widget user">
                        <!-- User Image -->
                        <!-- <div class="image d-flex justify-content-center"><br><br><br><br><br><br><br><br>
                                <img style="border-radius:50px 50px;"src="../../static/images/memberDE.jpg" alt="" class="">
                            </div> -->
                        <!-- User Name -->
                        <!-- <div class="form-group choose-file d-inline-flex">
                                <i class="fa fa-user text-center px-3"></i>
                                <input type="file" class="form-control-file mt-2 pt-1" id="input-file">
                            </div> -->
                    </div>
                    <!-- <h5 class="text-center">Name</h5><br> <br> <br> -->
                    <!-- Dashboard Links -->
                    <div class="widget dashboard-links">
                        <ul>
                            <h5 class="text-center">Bill History</h5>
                            {% for t in Service %}
                            {% if t.temp == user.email %}

                            <li><a class="my-1 d-inline-block" href="{% url 'bill' %}">{{t.date}}</a></li>
                            {% endif %}

                            {% endfor %}


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                <!-- Edit Profile Welcome Text -->
                <div class="widget welcome-message">
                    <h2>User Profile</h2>
                </div><br> <br>
                <!--End Page Title-->

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="widget personal-info">
                            <h2 class="widget-header user">Personal Information</h2>
                            <form action="#">
                                {% csrf_token %}
                                <!-- First Name -->
                                <div class="form-group">
                                    <label for="FullName-name">Full Name</label>

                                    <p>{{user.customer_name}}</p>
                                </div>
                                <!-- Last Name -->
                                <!-- <div class="form-group">
                            <label for="last-name">Last Name</label>
                            <input type="text" class="form-control" id="last-name">
                        </div> -->

                                <div class="form-group">
                                    <label for="email-address">Email</label>
                                    <!-- <input type="text" class="form-control" id="email-address"> -->

                                    <p>{{ user.email }}</p>

                                </div>

                                <div class="form-group">
                                    <label for="phone-number">Phone Number</label>
                                    <!-- <input type="number" class="form-control" id="phone-number"> -->

                                    <p>{{ user.number }}</p>

                                </div>
                                <!--<button class="btn btn-transparent">Save My Changes</button>-->
                            </form>
                        </div>
                    </div><br> <br> <br>

                    <div class="col-lg-6 col-md-6">
                        <!-- Change Password -->
                        <!---->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!--End Body Content-->

<!--Footer-->
<!--End Footer-->
<!--Scoll Top-->
<!-- <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span> -->
<!--End Scoll Top-->

<!-- Including Jquery -->
<script src="../../static/js/vendor/jquery-3.3.1.min.js"></script>
<script src="../../static/js/vendor/jquery.cookie.js"></script>
<script src="../../static/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="../../static/js/vendor/wow.min.js"></script>
<!-- Including Javascript -->
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/plugins.js"></script>
<script src="../../static/js/popper.min.js"></script>
<script src="../../static/js/lazysizes.js"></script>
<script src="../../static/js/main.js"></script>
</div>
</body>

<!-- belle/register.html   11 Nov 2019 12:22:27 GMT -->

</html>
<!--End Top Header-->